<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final project - Data Visualization
</div>

## **Th√¥ng tin nh√≥m**

#### Th√†nh vi√™n 1:
##### * **H·ªç v√† t√™n:** V√µ Duy Anh
##### * **MSSV:** 21127221

#### Th√†nh vi√™n 2:
##### * **H·ªç v√† t√™n:** Nguy·ªÖn M·∫≠u Gia B·∫£o
##### * **MSSV:** 21127583

### **Th∆∞ vi·ªán h·ªó tr·ª£**

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import warnings
warnings.filterwarnings("ignore")

### **1. Kh√°m ph√° d·ªØ li·ªáu**

#### ƒê·ªçc d·ªØ li·ªáu t·ª´ file

In [3]:
data = pd.read_csv("hotel_bookings.csv")
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015

#### üìå D·ªØ li·ªáu c√≥ bao nhi√™u h√†ng v√† bao nhi√™u c·ªôt?

In [4]:
row,col = data.shape
print(f'D·ªØ li·ªáu c√≥ {row} h√†ng v√† {col} c·ªôt')

D·ªØ li·ªáu c√≥ 119390 h√†ng v√† 32 c·ªôt

#### üìå √ù nghƒ©a c·ªßa m·ªói h√†ng l√† g√¨?

Bi·ªÉu di·ªÖn m·ªôt ƒë∆°n ƒë·∫∑t ph√≤ng kh√°ch s·∫°n c·ª• th·ªÉ

####  üìå D·ªØ li·ªáu c√≥ c√°c d√≤ng b·ªã l·∫∑p kh√¥ng?

In [6]:
index = data.index
detectDupSeries = index.duplicated(keep='first')
num_duplicated_rows = detectDupSeries.sum()

if num_duplicated_rows == 0:
    print(f"D·ªØ li·ªáu kh√¥ng c√≥ d√≤ng b·ªã tr√πng l·∫∑p!")
else:
    print(f"D·ªØ li·ªáu c√≥ {num_duplicated_rows} d√≤ng b·ªã l·∫∑p")

D·ªØ li·ªáu kh√¥ng c√≥ d√≤ng b·ªã tr√πng l·∫∑p!

In [7]:
len(data.drop_duplicates())/len(data)

0.7320211072954184

#### üìå √ù nghƒ©a c·ªßa m·ªói c·ªôt l√† g√¨?

<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="min-width: 10px; width: 30px; background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">STT</th>
      <th style="background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">C·ªôt</th>
      <th style="background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">√ù nghƒ©a</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-size: 14px; text-align: left;">1</td>
      <td style="font-size: 14px; text-align: left;">hotel</td>
      <td style="font-size: 14px; text-align: left;">T√™n kh√°ch s·∫°n</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">2</td>
      <td style="font-size: 14px; text-align: left;">is_canceled</td>
      <td style="font-size: 14px; text-align: left;">C·ªù l·ªánh li·ªáu ƒë·∫∑t ph√≤ng ƒë√£ b·ªã h·ªßy hay kh√¥ng (0 n·∫øu kh√¥ng h·ªßy, 1 n·∫øu ƒë√£ h·ªßy).</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">3</td>
      <td style="font-size: 14px; text-align: left;">lead_time</td>
      <td style="font-size: 14px; text-align: left;">S·ªë ng√†y gi·ªØa ng√†y ƒë·∫∑t ph√≤ng v√† ng√†y ƒë·∫øn.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">4</td>
      <td style="font-size: 14px; text-align: left;">arrival_date_year</td>
      <td style="font-size: 14px; text-align: left;"> NƒÉm c·ªßa ng√†y ƒë·∫øn.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">5</td>
      <td style="font-size: 14px; text-align: left;">arrival_date_month</td>
      <td style="font-size: 14px; text-align: left;">Th√°ng c·ªßa ng√†y ƒë·∫øn.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">6</td>
      <td style="font-size: 14px; text-align: left;">arrival_date_week_number</td>
      <td style="font-size: 14px; text-align: left;">Tu·∫ßn trong nƒÉm c·ªßa ng√†y ƒë·∫øn.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">7</td>
      <td style="font-size: 14px; text-align: left;">arrival_date_day_of_month</td>
      <td style="font-size: 14px; text-align: left;">Ng√†y trong th√°ng c·ªßa ng√†y ƒë·∫øn.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">8</td>
      <td style="font-size: 14px; text-align: left;">stays_in_weekend_nights</td>
      <td style="font-size: 14px; text-align: left;">S·ªë ƒë√™m l∆∞u tr√∫ v√†o cu·ªëi tu·∫ßn.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">9</td>
      <td style="font-size: 14px; text-align: left;">stays_in_week_nights</td>
      <td style="font-size: 14px; text-align: left;">S·ªë ƒë√™m l∆∞u tr√∫ v√†o c√°c ng√†y trong tu·∫ßn.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">10</td>
      <td style="font-size: 14px; text-align: left;">adults</td>
      <td style="font-size: 14px; text-align: left;">S·ªë ng∆∞·ªùi l·ªõn.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">11</td>
      <td style="font-size: 14px; text-align: left;">children</td>
      <td style="font-size: 14px; text-align: left;">S·ªë tr·∫ª em.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">12</td>
      <td style="font-size: 14px; text-align: left;">babies</td>
      <td style="font-size: 14px; text-align: left;">S·ªë em b√©.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">13</td>
      <td style="font-size: 14px; text-align: left;">meal</td>
      <td style="font-size: 14px; text-align: left;">Lo·∫°i b·ªØa ƒÉn.</td>
    </tr>
     <tr>
      <td style="font-size: 14px; text-align: left;">14</td>
      <td style="font-size: 14px; text-align: left;">country</td>
      <td style="font-size: 14px; text-align: left;">Qu·ªëc gia c·ªßa kh√°ch h√†ng.</td>
    </tr>
     <tr>
      <td style="font-size: 14px; text-align: left;">15</td>
      <td style="font-size: 14px; text-align: left;">market_segment</td>
      <td style="font-size: 14px; text-align: left;">Ph√¢n ƒëo·∫°n th·ªã tr∆∞·ªùng.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">16</td>
      <td style="font-size: 14px; text-align: left;">distribution_channel</td>
      <td style="font-size: 14px; text-align: left;">K√™nh ph√¢n ph·ªëi.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">17</td>
      <td style="font-size: 14px; text-align: left;">is_repeated_guest</td>
      <td style="font-size: 14px; text-align: left;">C·ªù l·ªánh th·ªÉ hi·ªán li·ªáu kh√°ch h√†ng ƒë√£ t·ª´ng l∆∞u tr√∫ tr∆∞·ªõc ƒë√≥ hay kh√¥ng.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">18</td>
      <td style="font-size: 14px; text-align: left;">previous_cancellations</td>
      <td style="font-size: 14px; text-align: left;">S·ªë l·∫ßn h·ªßy ƒë·∫∑t ph√≤ng tr∆∞·ªõc ƒë√≥.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">19</td>
      <td style="font-size: 14px; text-align: left;">previous_bookings_not_canceled</td>
      <td style="font-size: 14px; text-align: left;">S·ªë l·∫ßn ƒë·∫∑t ph√≤ng tr∆∞·ªõc ƒë√≥ nh∆∞ng kh√¥ng b·ªã h·ªßy.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">20</td>
      <td style="font-size: 14px; text-align: left;">reserved_room_type</td>
      <td style="font-size: 14px; text-align: left;">Lo·∫°i ph√≤ng ƒë√£ ƒë·∫∑t.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">21</td>
      <td style="font-size: 14px; text-align: left;">assigned_room_type</td>
      <td style="font-size: 14px; text-align: left;">Lo·∫°i ph√≤ng ƒë∆∞·ª£c g√°n cho ƒë∆°n ƒë·∫∑t ph√≤ng.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">22</td>
      <td style="font-size: 14px; text-align: left;">booking_changes</td>
      <td style="font-size: 14px; text-align: left;">S·ªë l·∫ßn thay ƒë·ªïi ƒë·∫∑t ph√≤ng.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">23</td>
      <td style="font-size: 14px; text-align: left;">deposit_type</td>
      <td style="font-size: 14px; text-align: left;">Lo·∫°i ti·ªÅn ƒë·∫∑t c·ªçc.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">24</td>
      <td style="font-size: 14px; text-align: left;">agent</td>
      <td style="font-size: 14px; text-align: left;">ID c·ªßa ƒë·∫°i l√Ω ƒë·∫∑t ph√≤ng.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">25</td>
      <td style="font-size: 14px; text-align: left;">company</td>
      <td style="font-size: 14px; text-align: left;">ID c·ªßa c√¥ng ty ƒë·∫∑t ph√≤ng.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">26</td>
      <td style="font-size: 14px; text-align: left;">days_in_waiting_list</td>
      <td style="font-size: 14px; text-align: left;">S·ªë ng√†y trong danh s√°ch ch·ªù.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">27</td>
      <td style="font-size: 14px; text-align: left;">customer_type</td>
      <td style="font-size: 14px; text-align: left;">Lo·∫°i kh√°ch h√†ng.</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">28</td>
      <td style="font-size: 14px; text-align: left;">adr</td>
      <td style="font-size: 14px; text-align: left;">Gi√° trung b√¨nh h√†ng ƒë√™m (Average Daily Rate).</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">29</td>
      <td style="font-size: 14px; text-align: left;">required_car_parking_spaces</td>
      <td style="font-size: 14px; text-align: left;">S·ªë l∆∞·ª£ng ch·ªó ƒë·∫≠u xe y√™u c·∫ßu.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">30</td>
      <td style="font-size: 14px; text-align: left;">total_of_special_requests</td>
      <td style="font-size: 14px; text-align: left;">T·ªïng s·ªë y√™u c·∫ßu ƒë·∫∑c bi·ªát.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">31</td>
      <td style="font-size: 14px; text-align: left;">reservation_status</td>
      <td style="font-size: 14px; text-align: left;">Tr·∫°ng th√°i ƒë·∫∑t ph√≤ng cu·ªëi c√πng.</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">32</td>
      <td style="font-size: 14px; text-align: left;">reservation_status_date</td>
      <td style="font-size: 14px; text-align: left;">Ng√†y c·∫≠p nh·∫≠t tr·∫°ng th√°i ƒë·∫∑t ph√≤ng cu·ªëi c√πng.</td>
    </tr>
  </tbody>
</table>

#### üìå Ki·ªÉu d·ªØ li·ªáu hi·ªán t·∫°i c·ªßa m·ªói c·ªôt l√† g√¨? C√≥ c·ªôt n√†o c√≥ ki·ªÉu d·ªØ li·ªáu kh√¥ng ph√π h·ª£p kh√¥ng?

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

- `is_canceled` l√† c·ªù l·ªánh ƒë·ªÉ th·ªÉ hi·ªán li·ªáu ƒë·∫∑t ph√≤ng c√≥ b·ªã hu·ª∑ hay kh√¥ng, do ƒë√≥ c·∫ßn chuy·ªÉn v·ªÅ object ƒë·ªÉ ph√¢n v√†o categorical.
- `children` ch·ªâ s·ªë l∆∞·ª£ng tr·∫ª em, do ƒë√≥ c·∫ßn chuy·ªÉn v·ªÅ d·∫°ng int64. Tuy nhi√™n v√¨ d·ªØ li·ªáu ƒëang ch·ª©a NULL, do ƒë√≥ s·∫Ω chuy·ªÉn v·ªÅ d·∫°ng int64 sau khi fill missing value.
-

#### üìå ƒê·ªëi v·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu s·ªë, c√°c gi√° tr·ªã ƒë∆∞·ª£c ph√¢n b·ªë nh∆∞ th·∫ø n√†o?

üìö ƒê·ªëi v·ªõi c√°c c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu s·ªë, ch√∫ng ta s·∫Ω t√≠nh to√°n m·ªôt s·ªë th·ªëng k√™ c∆° b·∫£n:
- T·ª∑ l·ªá ph·∫ßn trƒÉm (t·ª´ 0 ƒë·∫øn 100) gi√° tr·ªã b·ªã thi·∫øu
- The min
- The lower quartile (ph√¢n v·ªã 25)
- The median (ph√¢n v·ªã 50)
- The upper quartile (ph√¢n v·ªã 75)
- The max

Sau ƒë√≥ ch√∫ng ta s·∫Ω quan s√°t v√† nh·∫≠n x√©t xem k·∫øt qu·∫£ c√≥ g√¨ b·∫•t th∆∞·ªùng kh√¥ng?

In [8]:
num_col_info_df = data.select_dtypes(exclude=['object', 'bool'])

def missing_ratio(s):
    return (s.isna().mean() * 100)

def median(df):
    return (df.quantile(0.5))

def lower_quartile(df):
    return (df.quantile(0.25))

def upper_quartile(df):
    return (df.quantile(0.75))

num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])
num_col_info_df.T

,missing_ratio,min,lower_quartile,median,upper_quartile,max
is_canceled,0.000000,0.00,0.00,0.000,1.0,1.0
lead_time,0.000000,0.00,18.00,69.000,160.0,737.0
arrival_date_year,0.000000,2015.00,2016.00,2016.000,2017.0,2017.0
arrival_date_week_number,0.000000,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,0.000000,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,0.000000,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,0.000000,0.00,1.00,2.000,3.0,50.0
adults,0.000000,0.00,2.00,2.000,2.0,55.0
children,0.003350,0.00,0.00,0.000,0.0,10.0
babies,0.000000,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,0.000000,0.00,0.00,0.000,0.0,1.0
previous_cancellations,0.000000,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,0.000000,0.00,0.00,0.000,0.0,72.0
booking_changes,0.000000,0.00,0.00,0.000,0.0,21.0
agent,13.686238,1.00,9.00,14.000,229.0,535.0
company,94.306893,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,0.000000,0.00,0.00,0.000,0.0,391.0
adr,0.000000,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,0.000000,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,0.000000,0.00,0.00,0.000,1.0,5.0